 /*  font-family: "Raleway", sans-serif;
  font-family: "Roboto" sans-serif; */

body { 
    font-family: 'Roboto',  sans-serif;
    background-color: #ffffff;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
         color: #434455;
}

h1,
h2,
h4,
h5,
h6,
p {
    margin: 0;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
}

.container {
    max-width: 1158px;
        padding: 0 15px; 
        margin: 0 auto;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.title-header {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.advantages-header {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-header {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform:capitalize;
    color: #2e2f42;
}

ul, ol {
    list-style-type: none;
    margin: 0;
     padding: 0;
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
   color: #2E2F42;
}

.footer-logo .logo-part {
    color:#f4f4fd;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style:normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title {
    background-color: #2e2f42;
}

.button {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor:pointer;
}

.button:hover,
.button:focus {
        background: #404bbf;
}

.list-header {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

.list-item {
    background-color:#ffffff;
}

.team {
    background-color:#f4f4fd;
}

.page-footer {
    background-color:#2e2f42;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}